{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Niconne&family=Tangerine:wght@700&display=swap" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: rgb(56, 35, 35); color: #fff; padding: 100px 25px; font-family: 'Niconne', cursive;">
    <h1>Advertisement Pitches</h1>
</div>
<div class="container" style="font-family: 'Patrick Hand', cursive;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}