{% extends 'bootstrap/base.html'%}

<!-- Navbar block  -->
{% block navbar %}
  {% include 'navbar.html' %}
  <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Tangerine:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{%block styles %}
  {{super()}}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}