{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: rgb(56, 35, 35); color: #fff; padding: 55px 25px; font-family: 'Niconne', cursive;
">
    <h1>Sixty Seconds</h1>
</div>
<div class="container" style="padding-bottom: 20px; font-family: 'Patrick Hand', cursive;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">New Pitch</a>
</div>

<div class="container" style= "font-family: 'Patrick Hand', cursive;">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Interview Pitches</h3>
                <p>Want to ace an interview in just a few words, welcome.</p>
                <a href="{{url_for('main.interview_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Project Pitches</h3>
                <p>Want to talk about your projects, you're in the right place.</p>
                <a href="{{url_for('main.project_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Advertisement Pitches</h3>
                <p>Want to promote anything, step right up and begin.</p>
                <a href="{{url_for('main.advertisement_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>School Pitches</h3>
                <p>Want to set up your pitches for school, just put it down.</p>
                <a href="{{url_for('main.school_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Promotion Pitches</h3>
                <p>Want to set up your new products, just put it down.</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
